.ui-slider{
    position: relative;
    .ui-slide{

        .carousel-caption{
            color: #fff;
            text-align: left;
            max-width: 450px;
            left: 0;
            top: 15%;
            bottom: auto;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background:rgba($theme,.7);
            padding: 20px 10px 20px 80px;
            @media(max-width:768px){
                max-width: 345px;
                padding: 10px 10px 15px 30px;
            }
            @media(max-width:480px){
                max-width: 250px;
                padding: 5px 5px 5px 10px;
            }         
           h2{
               font-size: 34px;
                text-transform: uppercase;
                text-shadow: none !important;
                font-weight: bold;
                line-height: 30px;
                text-transform: uppercase;
                 text-shadow: none!important;
                 margin-top: 0;
                 @media(max-width:768px){
                    font-size: 25px;
                    line-height: 25px;
                    margin: 3px;
                }
                @media(max-width:480px){
                    font-size: 16px;
                    line-height: 16px;
                    margin: 3px 0;
                }        
            }
            p{
                text-shadow: none!important;
                @media(max-width:480px){
                    font-size: 13px;
                }  
            }
        }

    }

}