.note-editor.note-frame{
    border: 1px solid #cad1d7;
    border-radius: .375rem;

}

.note-popover.popover{
    display: none;
}

.slug {
    border: 0;
    display: inline;
    font-size: 10px;
    color: #525f7f;
  }

  .url-example{
      display: inline;
      font-size: 12px;
      margin-right: -4px;
  }

  .amsify-suggestags-area .amsify-suggestags-input-area{
    padding: .625rem .75rem;
  }

  .btn-primary:hover{
    background-color: #609bc8;
    border-color: #609bc8;
  }

  .btn-primary{
    background-color: #2d4a9b;
    border-color: #2d4a9b;
  }

  .image-preview{
    width: 15em;
    border-radius: .5em;
    box-shadow: 0 .5em .5em;
    opacity: 0;
    display: block;
    transition: 2.5s; 
    margin-top: 30px;
  }
 
  /* Image preview post styles */
  #image-preview {
    width: 100%;
    height: 200px;
    border: 3px dashed rgb(66, 168, 208) !important;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
  }

  #image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
  }

  #image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.9;
    cursor: pointer;
    color: #2d4a9b;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
  .croppie-container{
    height: unset;
  }
  
  html{
  font-size: unset;  
  }

  html,body{
    overflow-x: hidden;
}

.navbar {
  margin-bottom: unset;
}


.modal.in .modal-dialog {
transform: translate(0,0);
}

.fade.in {
  background: rgb(0, 0, 0, 0.3);
}

.card-profile-image img{
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.8)!important;
}

.overlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: red;
}

.card-profile-image:hover .overlay-img {
  opacity: 1;
}

.icon-img{
  color: white;
  font-size: 100px;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -29.5%);
  -ms-transform: translate(-50%, -29.5%);
  text-align: center;
  background: #666666;
  padding: 2.7rem;
  opacity: 0.6;
}

.icon-img i{
font-size: 6rem;
}

.fa-user:hover {
  color: #eee;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: rgba(50,151,211,.25);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.select2-container--default .select2-selection--multiple {
  background-color: #fff;
  border: 1px solid #cad1d7;
  border-radius: .375rem;
  cursor: text;
  min-height: calc(2.75rem + 2px);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #d8eff5;
  border: 1px solid #c3d1ec;
  border-radius: .375rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 4px 5px;
}

.datatable-posts{
  word-wrap: break-word;
  width: 800px;
}

table.dataTable .thead-light th {
  color: #8898aa;
  background-color: #f6f9fc;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  vertical-align: middle;
  border-color: #e9ecef;
  font-size: .65rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #e9ecef;
}
table.dataTable .thead-light th{
  font-size: .8125rem;
  white-space: nowrap;
  padding: 1rem;
}

table.dataTable td{
  font-size: .8125rem;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{ 
  z-index: 1;
  color: #fff !important;
  border-color: #2d4a9b;
  background: #2d4a9b;
  font-size: .875rem;
  border-radius: 50%!important;
  align-items: center;
  justify-content: center;
}

.navbar-vertical.navbar-expand-md .navbar-brand-img{
  max-height: 4.5rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{ 
  z-index: 1;
  font-size: .875rem;
  border-radius: 50%!important;
  align-items: center;
  justify-content: center;
  color: #8898aa;
  border: 1px solid #dee2e6;
  background-color: #fff;
}

table.dataTable.no-footer{
  border-bottom:1px solid #e9ecef;
}
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_paginate, 
.dataTables_wrapper .dataTables_processing{
  color: #525f7f;
  font-size: .97rem;
}

.dataTables_wrapper .dataTables_filter input{
  font-size: 1rem;
  line-height: 1.5;
  transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
  color: #8898aa;
  border: 1px solid #cad1d7;
  border-radius: .375rem;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: none;
}
.dataTables_wrapper select{
    font-size: 1rem;
    line-height: 1.5;
    transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
  }

  .mt--7, .my--7{
    margin-top: -10rem!important;
  }

.error {  
    color: #fb6340;
}

label.error {
  font-size: 70%;
  width: 100%;
  margin-top: .25rem;
  color: #fb6340;
  text-transform: uppercase;
}

#image-preview label.error{
  color: #fb6340;
  bottom: 1px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 70%;
}

textarea.form-control{
  min-height: 150px;
}

.invalid-feedback{
    font-size: 70%;
    width: 100%;
    margin-top: .25rem;
    color: #fb6340;
    text-transform: uppercase;
    font-weight: 700;
  }