
.row-filters {
    margin: 50px 0 15px;
    .btn-sucursal {
        font-size: 12px;
        opacity: .6;
    }
    .filter-button.btn.btn-theme02.border {
        color: $theme02!important;
        margin-bottom: 4px;

        &:hover,
        &:focus,
        &.active {
            color: #fff!important;
            background: $theme02!important;
        }
    }
}


.section-medicos {
    padding-top:60px;
}


#team .card {
    padding: 15px;
    border: none;
    background: #ffffff;

}

.image-flip {
    max-width: 300px;
    margin: 5px auto;
    
}

.row-rotating-cards {
    margin-top: 40px;

    @media(max-width: 767px) {
        display: none;
    }

    .image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
        
    }

    .no-rotate.image-flip:hover .backside,
    .image-flip.hover .backside {
        -webkit-transform: unset;
        -moz-transform: unset;
        -o-transform: unset;
        -ms-transform: unset;
        transform: unset;
        border-radius: .25rem;
        
    }
    
    .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .no-rotate.image-flip:hover .frontside,
    .image-flip.hover .frontside {
        -webkit-transform: unset;
        -moz-transform: unset;
        -o-transform: unset;
        transform: unset;
    }

    .no-rotate.examenes {
        .frontside .card,
        .backside .card {
            height: 100%;
            
        }
    }
    
    .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;
        min-height: 376px;
    }
    
    .frontside {
        position: relative;
        -webkit-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        z-index: 2;
        margin-bottom: 30px;
        box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
    }
    
    .backside {
        position: absolute;
        top: 0;
        left: 0;
        background: $theme02;
        color: #fff;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.2);
    
        .card {
            color: #fff !important;
            background: $theme02!important;
            .card-text,
            .card-subtitle,
            .card-title {
                color: #fff !important;
            }
        }
    }
    
    .frontside,
    .backside {
        height: 100%;
        border: 1px solid rgba($theme, .2);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transition: 1s;
        -moz-transform-style: preserve-3d;
        -o-transition: 1s;
        -o-transform-style: preserve-3d;
        -ms-transition: 1s;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
    }
    .frontside .card .card-title,
    .backside .card .card-title {
        font-size: 18px;
        color: #666;
        text-transform: uppercase;
        margin-bottom: 2px; 
    }
    .frontside .card .card-title {
        color: #666;
    }
    
    .backside .card .card-title {
        color: #fff;
    }
    
    .frontside .card .card-body img {
        width: 190px;
        height: 190px;
        border-radius: 50%;

        &.square {
            border-radius: 0px;
        }

    }

    .card-subtitle {
        color: $theme;
        margin: 2px 0 10px;
    }
    .card-text {
        color: #737373;
        font-size: 14px;
        line-height: 20px;
    }

}

.row-medicos-mobile {
    display: none;
    margin: 60px 0;
    @media(max-width: 767px) {
        display: block;
    }
}

.mobile-medic-list {
    a {
        color: $theme;
        transition: all ease-in-out .1s;
        text-decoration: none;
    }
    .media {
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
    }
    .media-left {
        vertical-align: middle;
    }
    .media-heading {
        margin-bottom: 3px;
    }
    .media-description{
        font-size: 12px;
    }
    .media-object {
       width: 60px;
       height: 60px;
       border-radius: 50%;
    }
    .doc-details {
        font-size: 14px;
        color: #666;
    }
    .well {
        background: #fff;
        border-radius: 0;
        margin-bottom: 0;
        box-shadow: none;
        border: none;
    }
}