/*--------------------------------------
  [BG THEME]
--------------------------------------*/
.bg-theme {
  background: $theme;
}

.bg-theme02 {
  background: $theme02;
}

.bg-theme03 {
  background: $theme03;
}

.bg-theme04 {
  background: $theme04;
}

.bg-theme05 {
  background: $theme05;
}

.bg-dark {
  background: $dark-theme;
}

.bg-gray {
  background: $gray-theme;
}

.btn-light {
	background: $light-theme;
}

.bg-black {
  background: #111111;
}

.bg-white {
  background: #ffffff;
}